.gallery-content {
  margin-bottom: 100px; }
  @media only screen and (max-width: 1295px) {
    .gallery-content {
      padding: 0 40px; } }
  @media only screen and (max-width: 1023px) {
    .gallery-content {
      padding: 0 78px; } }
  @media only screen and (max-width: 767px) {
    .gallery-content {
      padding: 0 23px;
      margin-bottom: 50px; } }
  .gallery-content .title-page {
    margin-bottom: 40px; }
    @media only screen and (max-width: 1023px) {
      .gallery-content .title-page {
        margin-bottom: 33px; } }
    @media only screen and (max-width: 767px) {
      .gallery-content .title-page {
        letter-spacing: 1px;
        margin-bottom: 26px; } }
  .gallery-content p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px; }
    @media only screen and (max-width: 1023px) {
      .gallery-content p {
        font-size: 12px;
        line-height: 15px; } }
    @media only screen and (max-width: 767px) {
      .gallery-content p {
        font-size: 10px;
        line-height: 22px -10;
        margin-bottom: 14px; } }
