.stock-wrap-content {
  padding: 0; }

@media only screen and (max-width: 1295px) {
  .stock-content {
    padding: 0 40px; } }

@media only screen and (max-width: 1023px) {
  .stock-content {
    padding: 0 78px; } }

@media only screen and (max-width: 767px) {
  .stock-content {
    padding: 0 23px; } }

.stock-content .title-page {
  margin-bottom: 40px; }
  @media only screen and (max-width: 1023px) {
    .stock-content .title-page {
      margin-bottom: 33px; } }
  @media only screen and (max-width: 767px) {
    .stock-content .title-page {
      letter-spacing: 1px;
      margin-bottom: 26px; } }

.stock-content p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 22px; }
  @media only screen and (max-width: 1023px) {
    .stock-content p {
      font-size: 12px;
      line-height: 15px; } }
  @media only screen and (max-width: 767px) {
    .stock-content p {
      font-size: 10px;
      line-height: 22px -10;
      margin-bottom: 14px; } }

.stock-list li {
  align-items: flex-start;
  margin-bottom: 70px; }
  @media only screen and (max-width: 1023px) {
    .stock-list li {
      margin-bottom: 40px; } }
  @media only screen and (max-width: 767px) {
    .stock-list li {
      margin-bottom: 20px; } }
  .stock-list li:nth-child(even) .product-list-description {
    padding-left: 0; }
    @media only screen and (max-width: 1295px) {
      .stock-list li:nth-child(even) .product-list-description {
        padding-left: 10px;
        margin-left: 15px; } }
    @media only screen and (max-width: 767px) {
      .stock-list li:nth-child(even) .product-list-description {
        padding-left: 0;
        margin-left: 0; } }
  .stock-list li:nth-child(odd) .product-list-description {
    padding-right: 0; }
    @media only screen and (max-width: 1295px) {
      .stock-list li:nth-child(odd) .product-list-description {
        padding-right: 10px;
        margin-right: 15px; } }
    @media only screen and (max-width: 767px) {
      .stock-list li:nth-child(odd) .product-list-description {
        padding-right: 0;
        margin-right: 0; } }
  .stock-list li:nth-child(1) .product-list-description {
    max-width: 615px; }
    @media only screen and (max-width: 1295px) {
      .stock-list li:nth-child(1) .product-list-description {
        max-width: 450px; } }
    @media only screen and (max-width: 1023px) {
      .stock-list li:nth-child(1) .product-list-description {
        max-width: 305px; } }
    @media only screen and (max-width: 767px) {
      .stock-list li:nth-child(1) .product-list-description {
        max-width: 100%; } }
    .stock-list li:nth-child(1) .product-list-description p {
      margin-bottom: 22px; }

.stock-list .product-list-description {
  max-width: 615px; }
  @media only screen and (max-width: 1295px) {
    .stock-list .product-list-description {
      max-width: 450px; } }
  @media only screen and (max-width: 1023px) {
    .stock-list .product-list-description {
      max-width: 290px; } }
  @media only screen and (max-width: 767px) {
    .stock-list .product-list-description {
      max-width: 100%; } }
  .stock-list .product-list-description h3 {
    letter-spacing: 0;
    line-height: 44px; }
  .stock-list .product-list-description p {
    font-size: 17px;
    line-height: 21px; }
