/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-width: 320px;
  color: #fff; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #e5e5e5; }
  a:focus {
    outline: none; }

button {
  cursor: pointer;
  border: none; }
  button:hover {
    border: 5px solid #c21ace; }
  button:focus {
    outline: none; }

.btn-menu {
  background: transparent;
  padding: 0; }
  .btn-menu:hover {
    background: transparent; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden;
  position: relative; }

.img-area {
  border-radius: 5px;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

.container-xxl {
  max-width: 1305px; }

.button {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  background: transparent;
  border: 5px solid #db10c7;
  border-radius: 5px;
  padding: 25px 77px;
  font-weight: 700; }

.btn-ml {
  padding: 30px 40px; }

.header {
  padding: 17px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media only screen and (max-width: 767px) {
  .menu-navigation-wrap {
    position: fixed;
    top: 0;
    right: 200%;
    transition: all .25s ease;
    min-width: 230px; } }

.menu-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 767px) {
    .menu-navigation {
      display: block;
      background-image: url("../images/body-mobile-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      min-width: inherit;
      padding: 50px 30px;
      border-radius: 5px; } }
  .menu-navigation .btn-mobile {
    display: none !important; }
    @media only screen and (max-width: 767px) {
      .menu-navigation .btn-mobile {
        display: flex !important; } }
  .menu-navigation a {
    display: block;
    padding: 5px; }
  .menu-navigation li {
    margin: 0 10px; }
  .menu-navigation .menu-navigation-info-user {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 0; }
    .menu-navigation .menu-navigation-info-user p {
      margin-bottom: 23px; }

@media only screen and (max-width: 767px) {
  .show-menu {
    right: 0; } }

.btn-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg); }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      display: block; } }
  .btn-menu span {
    background: #fff;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    transform: translate(0, -50%);
    top: 50%; }
  .btn-menu .bottom {
    top: auto;
    bottom: 0; }
  .btn-menu .top {
    bottom: 0; }
  .btn-menu.active {
    background: transparent; }
    .btn-menu.active .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0; }
    .btn-menu.active .middle {
      opacity: 0; }
    .btn-menu.active .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg); }

.logo {
  display: flex; }

.item-blick {
  max-width: 830px;
  width: 100%;
  margin: 0 !important; }

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

#wrapper {
  background-image: url("../images/body-background.png");
  background-repeat: no-repeat;
  background-size: cover; }

.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 900px;
  padding: 185px 0 210px;
  position: relative; }
  .banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(98.66deg, rgba(57, 60, 60, 0.8) 41.68%, rgba(57, 60, 60, 0) 89.84%); }

.title-home {
  font-family: "Comfortaa", cursive;
  font-size: 96px;
  line-height: 108px;
  letter-spacing: 8px;
  margin-bottom: 55px; }
  .title-home span {
    position: relative;
    top: 150px;
    text-transform: uppercase; }

.banner-content p {
  font-size: 20px;
  line-height: 28px;
  max-width: 410px;
  letter-spacing: 2px;
  padding-left: 9px; }

.holder-btn {
  display: flex;
  justify-content: space-between;
  align-items: end; }

.product-list {
  margin-top: -130px; }
  .product-list li {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 75px; }
    .product-list li:nth-child(even) {
      flex-direction: row-reverse; }
    .product-list li:nth-child(1) .product-list-description {
      max-width: 515px; }
      .product-list li:nth-child(1) .product-list-description p {
        margin-bottom: 0; }

.product-list-description {
  max-width: 615px; }
  .product-list-description h3 {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 35px;
    letter-spacing: 3px;
    font-weight: 600; }
  .product-list-description p {
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 40px; }

.product-decor-1,
.product-decor-2 {
  position: absolute; }

.product-decor-1 {
  left: 60px;
  bottom: -60px;
  width: 240px; }

.product-decor-2 {
  right: 20px;
  bottom: -50px;
  width: 350px; }

.smoke-decor-1 {
  position: relative; }
  .smoke-decor-1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/smoke-1.png");
    background-repeat: no-repeat;
    background-position: center; }

.z-index-5 {
  z-index: 5; }

.gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #DFF10A, #DB10C7); }

.decor-vector {
  position: relative;
  padding-left: 10px; }
  .decor-vector:before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    width: 58px;
    height: 19px;
    background-image: url("../images/decor-vector.png"); }

.filter-background {
  position: relative; }
  .filter-background::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at center, #ffffff 0%, #f7f7f7 50%, #ffffff 73%, #ffffff 100%);
    filter: blur(55px);
    border-radius: 50%;
    overflow: hidden;
    z-index: -1; }

.shocking-pink-text {
  color: #db10c7; }

.img-area-background {
  position: relative; }
  .img-area-background:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(62, 63, 65, 0.48); }

.overflow-hidden-inherit {
  overflow: inherit; }
