@import "mixin";
@import "variables";

.button,
#btn-form,
.link-btn {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 3;
  color: $white;
  background: $transparent;
  border: 5px solid $shocking-pink;
  border-radius: 5px;
  padding: 25px 77px;
  font-weight: 700;

  &:hover {
    border: 5px solid $purple-heart;
  }

}

.btn-ml {
  padding: 30px 40px;
}

.btn-sm {
  padding: 25px 20px;
}

.btn-holder {
  display: flex;
  justify-content: center;
}

#btn-form {
  width: inherit;
  cursor: pointer;
  letter-spacing: 3px;
  padding: 23px 40px;
  height: 80px;
}

.link-btn {
  letter-spacing: 2px;
}