@import "mixin";
@import "variables";

.btn,
#btn-form,
.link-btn {
  font-size: $font-size-base + 4;
  line-height: $line-height-base + 3;
  color: $white;
  background: $transparent;
  border: 5px solid $shocking-pink;
  border-radius: 5px;
  padding: 25px 77px;
  font-weight: 700;
  box-shadow: 0 0 8px 0 $shocking-pink;
  letter-spacing: 2px;

  &:hover {
    border: 5px solid $purple-heart;
  }

  @include breakpoint($tablet) {
    border: 2px solid $shocking-pink;
    font-size: $font-size-base - 4;
    line-height: $line-height-base - 5;
    padding: 10px 47px;
  }

  @include breakpoint($mobile) {
    font-size: $font-size-base - 6;
    line-height: $line-height-base - 8;
  }
}

.btn-ml {
  padding: 24px 46px;

  @include breakpoint($tablet) {
    padding: 5px 13px;
  }
}

.btn-xl {
  padding: 21px 30px;

  @include breakpoint($tablet) {
    padding: 11px 20px;
  }

  @include breakpoint($mobile) {
    padding: 7px 20px;
  }
}

.btn-sm {
  padding: 25px 20px;

  @include breakpoint($tablet) {
    padding: 11px 16px;
  }

  @include breakpoint($mobile) {
    padding: 11px 14px;
  }
}

.btn-holder {
  display: flex;
  justify-content: center;
}

#btn-form {
  width: inherit;
  cursor: pointer;
  letter-spacing: 3px;
  padding: 23px 40px;
  height: 80px;

  @include breakpoint($tablet) {
    height: 40px;
    padding: 5px 20px;
  }

  @include breakpoint($mobile) {
    width: 100%;
    margin-bottom: 0;
    height: 32px;
  }
}

.link-btn {
  letter-spacing: 2px;

  @include breakpoint($mobile) {
    letter-spacing: 0;
  }
}

.banner-link-btn {
  img {
    @include breakpoint($tablet) {
      width: 90px;
    }

    @include breakpoint($mobile) {
      width: 55px;
    }

    &:hover {
      filter: contrast(50%)
    }
  }
}