@import "mixin";
@import "variables";


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  @include breakpoint($tablet) {
    padding: 0 92px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
    padding: 0 35px;
  }

  .logo {
    @include breakpoint($mobile) {
      margin-bottom: 8px;
    }
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: end;

  @include breakpoint($mobile) {
    align-items: flex-start;
  }

  p {
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 1px;

    @include breakpoint($tablet) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base + 5;
      margin-bottom: 4px;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 6;
      line-height: $line-height-base - 8;
    }
  }

  .link-btn {
    margin-bottom: 10px;

    @include breakpoint($tablet) {
      margin-bottom: 7px;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    margin-bottom: 7px;
  }

  li {
    margin-left: 35px;

    @include breakpoint($tablet) {
      margin-left: 11px;
    }

    @include breakpoint($mobile) {
      margin-left: 0;
      margin-right: 7px;
    }
  }

  a {
    display: block;
    padding: 5px;

    @include breakpoint($mobile) {
      padding: 0;
    }

    img {
      width: 40px;

      &:hover {
        filter: saturate(60%)
      }
      @include breakpoint($tablet) {
        width: 30px;
      }

      @include breakpoint($mobile) {
        width: 23px;
      }
    }
  }

  i {
    font-size: $font-size-base + 24;

    @include breakpoint($tablet) {
      font-size: $font-size-base + 14;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base + 11;
    }
  }
}

.copyright {
  font-family: $font-Julee;
  font-size: $font-size-base + 6;
  line-height: $line-height-base + 4;
  max-width: 350px;
  margin-bottom: 20px;
  margin-top: -60px;

  @include breakpoint($tablet) {
    font-size: $font-size-base - 5;
    line-height: $line-height-base - 7;
    margin-top: -40px;
    max-width: 270px;
    padding-left: 80px;
  }

  @include breakpoint($mobile) {
    margin-top: 0;
    font-size: $font-size-base - 6;
    line-height: $line-height-base - 10;
    padding-left: 20px;
  }
}