@import "variables";
@import "mixin";


.header {
  padding: 17px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include breakpoint($mobile) {
    padding: 12px 0;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($mobile) {
    margin: 0 24px;
  }
}

.menu-navigation-wrap {
  @include breakpoint($mobile) {
    position: fixed;
    top: 0;
    right: 200%;
    transition: all .25s ease;
    min-width: 212px;
  }
}

.menu-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    justify-content: end;
  }

  @include breakpoint($mobile) {
    display: block;
    background-image: url("../images/body-mobile-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: inherit;
    padding: 50px 30px;
    border-radius: 5px;
  }

  .btn-mobile {
    display: none !important;
    @include breakpoint($mobile) {
      display: flex !important;
    }
  }

  a {
    display: block;
    padding: 5px;

    @include breakpoint($mobile) {
      padding: 6px;
    }
  }

  li {
    margin: 0 10px;

    @include breakpoint($tablet) {
      font-size: $font-size-base - 6;
      line-height: $line-height-base - 7;
    }

    @include breakpoint($mobile) {
      margin: 0;
    }
  }

  .menu-navigation-info-user {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 0;

    @include breakpoint($desktop) {
      margin-right: 15px;
    }

    @include breakpoint($mobile) {
      align-items: flex-start;
      margin: 10px 0 0 0;
    }

    p {
      margin-bottom: 23px;

      @include breakpoint($mobile) {
        font-weight: 500;
        font-size: $font-size-base - 6;
        line-height: $line-height-base - 8;
        margin-bottom: 10px;
        padding-left: 6px;
      }
    }
  }
}

.show-menu {
  @include breakpoint($mobile) {
    right: 0;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12px;
  width: 20px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg);

  @include breakpoint($mobile) {
    display: block;
  }

  span {
    background: $white;
    border: none;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: -5px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
    }
  }
}

.logo {
  display: flex;
  padding: 0 !important;

  img {
    @include breakpoint($tablet) {
      width: 100px;
    }

    @include breakpoint($mobile) {
      width: 60px;
    }
  }
}

.item-blick {
  max-width: 830px;
  width: 100%;
  margin: 0 !important;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-item {
  margin: 0 !important;
  order: -1 !important;
}








