@import "variables";
@import "mixin";


.header {
  padding: 17px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-navigation-wrap {
  min-width: 630px;
  margin-bottom: 5px;

  @include breakpoint($mobile) {
    position: fixed;
    top: 0;
    right: 200%;
    transition: all .25s ease;
    min-width: 230px;
  }
}

.menu-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    display: block;
    background-image: url("../images/body-mobile-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: inherit;
    padding: 50px 30px;
    border-radius: 5px;
  }

  .btn-mobile {
    display: none !important;
    @include breakpoint($mobile) {
      display: flex !important;
    }
  }

  a {
    display: block;
    padding: 5px;
  }

  li {
    margin: 0 5px;
  }

  .menu-navigation-info-user {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-left: 70px;
  }

}

.show-menu {
  @include breakpoint($mobile) {
    right: 0;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;
  transform: rotate(180deg);

  @include breakpoint($mobile) {
    display: block;
  }

  span {
    background: $white;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
    }
  }
}

.logo {
  display: flex;
}








