@import "mixin";
@import "variables";


.z-index-5 {
  z-index: 5;
}

.z-index-4 {
  z-index: 4;
}

.z-index-10 {
  z-index: 10;
}
.z-index-50 {
  z-index: 50;
}



.position-relative {
  position: relative;
}

.gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #DFF10A, #DB10C7);
}

.decor-vector {
  position: relative;
  padding-left: 10px;

  &:before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    width: 58px;
    height: 19px;
    background-image: url("../images/decor-vector.png");

    @include breakpoint($mobile) {
      background-image: url("../images/decor-vector-mobile.png");
      width: 27px;
      height: 12px;
    }
  }
}

.filter-background {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at center, #ffffff 0%, #f7f7f7 50%, #ffffff 73%, #ffffff 100%);
    filter: blur(55px);
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;

    @include breakpoint($tablet) {
      filter: blur(25px);
    }

    @include breakpoint($mobile) {
      filter: blur(20px);
    }
  }
}

.shocking-pink-text {
  color: $shocking-pink;
}

.img-area-background {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(62, 63, 65, 0.48);
  }
}

.overflow-hidden-inherit {
  overflow: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px;
  }
}

.decor-coals {
  position: absolute;
  bottom: -65px;
  right: -205px;
  width: 455px;

  @include breakpoint($tablet) {
    bottom: -25px;
    right: -15px;
    width: 235px;
  }

  @include breakpoint($mobile) {
    bottom: 25px;
    right: -5px;
    width: 125px;
  }
}

.shootouts-1 {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -105px;
    transform: translate(0, -50%);
    width: 22px;
    height: 220px;
    background-image: url("../images/shootouts-1.png");
    background-repeat: no-repeat;

    @include breakpoint($desktop) {
      right: -55px;
    }

    @include breakpoint($tablet) {
      background-image: url("../images/shootouts-tab-2.png");
      background-repeat: no-repeat;
      width: 9px;
      height: 94px;
      right: -20px;
    }
  }
}

.shootouts-2 {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -105px;
    transform: translate(0, -50%);
    width: 22px;
    height: 220px;
    background-image: url("../images/shootouts-2.png");
    background-repeat: no-repeat;


    @include breakpoint($desktop) {
      right: -55px;
    }

    @include breakpoint($tablet) {
      background-image: url("../images/shootouts-tab-3.png");
      background-repeat: no-repeat;
      width: 9px;
      height: 94px;
      right: -20px;
    }
  }
}

.shootouts-3 {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -105px;
    transform: translate(0, -50%);
    width: 22px;
    height: 220px;
    background-image: url("../images/shootouts-3.png");
    background-repeat: no-repeat;

    @include breakpoint($desktop) {
      right: -55px;
    }

    @include breakpoint($tablet) {
      background-image: url("../images/shootouts-tab-4.png");
      background-repeat: no-repeat;
      width: 9px;
      height: 94px;
      right: -20px;
    }
  }
}

.background {
  @include breakpoint($mobile) {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(143, 138, 138, 0.67);
      z-index: 10;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.padding-top-200 {
  padding-top: 200px;

  @include breakpoint($tablet) {
    padding-top: 140px;
  }

  @include breakpoint($mobile) {
    padding-top: 70px;
  }
}

.padding-top-130 {
  padding-top: 130px;

  @include breakpoint($tablet) {
    padding-top: 90px;
  }

  @include breakpoint($mobile) {
    padding-top: 40px;
  }
}

.top-30 {
  @include breakpoint($mobile) {
    top: 30px;
  }
}

.flex-direction-column {
  flex-direction: column;
}

.pointer {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 40px;
    right: 40px;
    background-image: url("../images/pointer-2.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;

    @include breakpoint($tablet) {
      background-image: url("../images/pointer-mobile-2.png");
      width: 15px;
      height: 13px;
      top: 22px;
      right: 17px;
    }

    @include breakpoint($mobile) {
      top: 11px;
      right: 7px;
    }
  }
}

.margin-bottom-35 {
  margin-bottom: 35px;

  @include breakpoint($tablet) {
    margin-bottom: 20px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 13px;
  }
}

.padding-top-20 {
  padding-top: 20px;

  @include breakpoint($tablet) {
    padding-top: 10px;
  }
}




