$white: #fff;
$mercury: #e5e5e5;

//font page
$base-font-default: 'Montserrat', sans-serif;
$font-Comfortaa: 'Comfortaa', cursive;

//Body
$base-text-color: $white;
$base-font-family: $base-font-default;
$base-background: $white;
$font-size-base: 16px;
$line-height-base: 22px;
$base-min-width: 320px