@import "mixin";
@import "variables";


.stock-wrap-content {
  padding: 0;
}

.stock-content {
  @include breakpoint($desktop) {
    padding: 0 40px;
  }

  @include breakpoint($tablet) {
    padding: 0 78px;
  }

  @include breakpoint($mobile) {
    padding: 0 23px;
  }

  .title-page {
    margin-bottom: 40px;

    @include breakpoint($tablet) {
      margin-bottom: 33px;
    }

    @include breakpoint($mobile) {
      letter-spacing: 1px;
      margin-bottom: 26px;
    }
  }

  p {
    font-size: $font-size-base + 4;
    line-height: $line-height-base + 2;
    margin-bottom: 22px;

    @include breakpoint($tablet) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 7;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 6;
      line-height: $line-height-base -10;
      margin-bottom: 14px;
    }
  }
}

.stock-list {
  li {
    align-items: flex-start;
    margin-bottom: 70px;

    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 20px;
    }

    &:nth-child(even) {
      .product-list-description {
        padding-left: 0;

        @include breakpoint($desktop) {
          padding-left: 10px;
          margin-left: 15px;
        }

        @include breakpoint($mobile) {
          padding-left: 0;
          margin-left: 0;
        }
      }
    }

    &:nth-child(odd) {
      .product-list-description {
        padding-right: 0;

        @include breakpoint($desktop) {
          padding-right: 10px;
          margin-right: 15px;
        }

        @include breakpoint($mobile) {
          padding-right: 0;
          margin-right: 0;
        }
      }
    }

    &:nth-child(1) {
      .product-list-description {
        max-width: 615px;

        @include breakpoint($desktop) {
          max-width: 450px;
        }

        @include breakpoint($tablet) {
          max-width: 305px;
        }

        @include breakpoint($mobile) {
          max-width: 100%;
        }

        p {
          margin-bottom: 22px;
        }
      }
    }
  }

  .product-list-description {
    max-width: 615px;

    @include breakpoint($desktop) {
      max-width: 450px;
    }

    @include breakpoint($tablet) {
      max-width: 290px;
    }

    @include breakpoint($mobile) {
      max-width: 100%;
    }

    h3 {
      letter-spacing: 0;
      line-height: $line-height-base + 22;
    }

    p {
      font-size: $font-size-base + 1;
      line-height: $line-height-base - 1;
    }
  }
}